* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --sky-blue: #00a2ec;
  --sky-blue-faded: #00a1ec88;
  --success: #03e762;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
  color: #333;
}

.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* image and page header style */

.image-container {
  position: relative;
  display: flex;
}

.image-container h1,
.image-container p {
  position: absolute;
}

img {
  height: inherit;
}

.image-container h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #eee;
  top: 150px;
}

.image-container p {
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* ensure form default styling is consistent across browsers */

input {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  padding: 5px;
  font-family: inherit;
  font-size: 100%;
}

input {
  border: 1px solid var(--sky-blue);
  border-radius: 4px;
  color: var(--sky-blue);
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 4px var(--sky-blue);
  border-color: var(--sky-blue);
}

input::placeholder {
  color: var(--sky-blue-faded);
  font-style: italic;
}

/* form section style */

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 100px;
  padding: 10px;
}

.form-header p {
  font-size: 2rem;
  color: var(--sky-blue);
  padding: 0 10px;
}

.sign-up-form {
  padding: 10px;
  width: 100%;
  margin-bottom: 150px;
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
}

.form-controls p {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 15px 10px;
  position: relative;
}

.form-controls label {
  color: var(--sky-blue);
}

.form-controls span {
  position: absolute;
  bottom: 0;
  left: 12px;
  font-size: 12px;
}

.form-btns {
  margin: 10px;
}

.form-btns > button {
  width: 150px;
  border: 1px solid var(--sky-blue);
  color: var(--sky-blue);
  background-color: inherit;
  border-radius: 8px;
  font-size: 1.5rem;
}

.form-btns > button:hover {
  color: #fefefe;
  background-color: var(--sky-blue);
  cursor: pointer;
}

.login-link {
  margin-bottom: 5px;
}

.login-link a {
  color: var(--sky-blue);
}

.error-msg {
  color: var(--sky-blue);
}

@media (max-width: 1300px) {
  .form-header {
    margin-top: 0px;
  }

  .form-header p {
    padding: 0;
    font-size: 1.75rem;
  }

  .sign-up-form {
    margin-bottom: 0;
    padding: 0;
  }

  .form-controls p {
    flex: 1 0 100%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 13px;
  }

  img,
  .image-container {
    width: 100%;
  }

  .image-container h1 {
    top: 40px;
  }

  .form-container {
    position: absolute;
    background-color: #fefefe;
    border-radius: 10px;
    width: 75%;
    top: 150px;
    left: 12.5%;
  }
}
